@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

.link-group .rs-table-cell-content {
  padding: 5px;
}
.no-padding .rs-table-cell-content {
  padding: 0px;
}
